.main {
  display: flex;
  min-height: 100vh;
  background-color: #e5e5e5;
}

.title {
  display: inline-block;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.toggle-filters-btn {
  display: none;
  position: absolute;
  top: 28px;
  right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.ship-list {
  flex-grow: 1;
  padding: 52px 63px;
}

.list {
  list-style: none;
  margin-bottom: 60px;
  padding-left: 0;
}

.item {
  margin-bottom: 7px;
  padding: 20px 0 30px;
  border-bottom: 1px solid #a5a5a5;
  &:last-child {
    margin-bottom: 0;
  }
}

.ship-name {
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.option-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.option {
  flex-basis: 32%;
  flex-grow: 0;
  &:nth-child(even) {
    flex-grow: 1;
  }
}

.option-name {
  display: inline-block;
  width: 130px;
}

.option-value {
  color: var(--second-color);
}

.filters {
  display: flex;
  flex-direction: column;
  flex-basis: 17%;
  flex-grow: 0;
  padding: 52px 33px;
  background-color: #ffffff;
  border-left: 1px solid #a5a5a5;
}

.filters-title {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
}

.text-filter {
  margin-bottom: 40px;
}

.checkbox-filter {
  margin-bottom: 20px;
}

.pagination {
  display: flex;

  &__page-label {
    display: inline-block;
    margin: 0 23px;
  }

  &__btn {
    background: transparent;
    border: none;
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }
  &__btn--right {
    transform: rotateY(180deg);
  }

  &__btn:disabled {
    opacity: 0.3;
  }
}

@media (max-width: 1200px) {
  .option-name {
    width: 50px;
  }

  .option {
    flex-basis: 100%;
    margin-bottom: 5px;
    &:nth-child(odd) {
      margin-bottom: 5px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 860px) {
  .ship-list {
    flex-grow: 1;
    padding: 25px 30px;
  }

  .title {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 28px;
  }

  .list {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .ship-name {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .option-name {
    width: 100px;
  }

  .filters {
    padding: 25px 30px;
  }
}

@media (max-width: 600px) {
  .toggle-filters-btn {
    display: inline-block;
  }

  .is-filters-open {
    position: absolute;
  }

  .filters {
    flex-grow: 1;
    display: none;
  }

  .open-filters {
    display: flex;
  }

  .open-ship-list {
    display: none;
  }
}
