.main {
  display: flex;
  min-height: 100vh;
  background-color: #e5e5e5;
}

.title {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.ship-list {
  flex-grow: 1;
  padding: 52px 63px;
}

.list {
  list-style: none;
  margin-bottom: 60px;
  padding-left: 0;
}

.item {
  margin-bottom: 7px;
  padding: 20px 0 30px;
  border-bottom: 1px solid #a5a5a5;
  &:last-child {
    margin-bottom: 0;
  }
}

.ship-name {
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.option-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.option {
  flex-basis: 32%;
  flex-grow: 0;
  &:nth-child(even) {
    flex-grow: 1;
  }
}

.option-name {
  display: inline-block;
  width: 130px;
}

.option-value {
  color: var(--second-color);
}

.filters {
  display: flex;
  flex-direction: column;
  flex-basis: 17%;
  flex-grow: 0;
  padding: 52px 33px;
  background-color: #ffffff;
  border-left: 1px solid #a5a5a5;
}

.filters-title {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
}

.text-filter {
  margin-bottom: 40px;
}

.checkbox-filter {
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  &__btn {
    background: transparent;
    border: none;
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }
}