<ng-container *ngIf="shipDetails$ | async as shipDetails">
  <section class="ship-details">
    <a class="return-link" [routerLink]="['/']">
      <img
        class="link-icon"
        src="assets/icons/link-arrow.svg"
        width="9"
        height="9"
        alt="Стрелочка, повернутая влево."
      >
      Вернуться
    </a>
    <b class="title">{{shipDetails.name}}</b>
    <ul class="option-list">
      <li class="option">
        <span class="option-name">Тип</span>
        <span class="option-value">{{shipDetails.type}}</span>
      </li>
      <li class="option">
        <span class="option-name">Порт</span>
        <span class="option-value">{{shipDetails.home_port}}</span>
      </li>
      <li class="option">
        <span class="option-name">Вес</span>
        <span *ngIf="shipDetails.weight_kg; else noData" class="option-value">{{shipDetails.weight_kg}}кг</span>
      </li>
      <li class="option">
        <span class="option-name">Год</span>
        <span *ngIf="shipDetails.year_built; else noData" class="option-value">{{shipDetails.year_built}}</span>
      </li>
    </ul>
    <span class="mission-title">Миссии</span>
    <ul class="mission-list">
      <li *ngFor="let mission of shipDetails.missions | addComma">
        <span *ngIf="mission; else noData" class="mission-name">
        {{mission}}&nbsp;
      </span></li>
    </ul>
    <img
      *ngIf="shipDetails.year_built; else null"
      class="ship-img"
      src={{shipDetails.image}}
      width="600"
      height="600"
      alt="Изображение
      {{shipDetails.name}}"
    >
  </section>
</ng-container>

<ng-template #noData>
  <span>Не указано</span>
</ng-template>
