<div>
  <div class="field">
    <input
      readonly
      autocomplete="off"
      class="title-filter"
      id="checkbox-count"
      type="text"
      placeholder=" "
      value="Выбраны {{filters.checkboxCount}}"
      (click)="toggleFilters()"
    >
    <label class="title-filter-label" for="checkbox-count">Порт</label>
  </div>
  <ul class="input-list" [class.open]="filters.isOpen">
    <li class="input-item">
      <input
        class="checkbox"
        type="checkbox"
        id="Port Canaveral"
        name="port"
        [(ngModel)]="filters.portList['Port Canaveral']"
        (ngModelChange)="pagination.currentPage = 1"
        (click)="toggleCheckboxCount($event)"
      >
      <label
        class="checkbox-label"
        for="Port Canaveral">Port Canaveral
    </label>
    </li>
    <li class="input-item">
      <input
        class="checkbox"
        type="checkbox"
        id="Port of Los Angeles"
        name="port"
        [(ngModel)]="filters.portList['Port of Los Angeles']"
        (ngModelChange)="pagination.currentPage = 1"
        (click)="toggleCheckboxCount($event)"
      >
      <label
        class="checkbox-label"
        for="Port of Los Angeles">Port of Los Angeles
    </label>
    </li>
    <li class="input-item">
      <input
        class="checkbox"
        type="checkbox"
        id="Fort Lauderdale"
        name="port"
        [(ngModel)]="filters.portList['Fort Lauderdale']"
        (ngModelChange)="pagination.currentPage = 1"
        (click)="toggleCheckboxCount($event)"
      >
      <label
        class="checkbox-label"
        for="Fort Lauderdale">Fort Lauderdale
    </label>
    </li>
  </ul>
</div>