<div>
  <ul>
    <li>
      <input type="checkbox" id="Port Canaveral" name="port" [(ngModel)]="filters.portList['Port Canaveral']">
      <label for="Port Canaveral">Port Canaveral</label>
    </li>
    <li>
      <input type="checkbox" id="Port of Los Angeles" name="port" [(ngModel)]="filters.portList['Port of Los Angeles']">
      <label for="Port of Los Angeles">Port of Los Angeles</label>
    </li>
    <li>
      <input type="checkbox" id="Fort Lauderdale" name="port" [(ngModel)]="filters.portList['Fort Lauderdale']">
      <label for="Fort Lauderdale">Fort Lauderdale</label>
    </li>
  </ul>
</div>