<div>
  <legend class="filter-title">Тип</legend>
  <ul class="input-list">
    <li class="input-item">
      <input
        class="radio"
        type="radio"
        name="type"
        id="barge"
        value="Barge"
        [(ngModel)]="filters.type"
        (ngModelChange)="pagination.currentPage = 1"
      >
      <label class="radio-label" for="barge">Barge</label>
    </li>
    <li class="input-item">
      <input
        class="radio"
        type="radio"
        name="type"
        id="cargo"
        value="Cargo"
        [(ngModel)]="filters.type"
        (ngModelChange)="pagination.currentPage = 1"
      >
      <label class="radio-label" for="cargo">Cargo</label>
    </li>
    <li class="input-item">
      <input
        class="radio"
        type="radio"
        name="type"
        id="high speed craft"
        value="High Speed Craft"
        [(ngModel)]="filters.type"
        (ngModelChange)="pagination.currentPage = 1"
      >
      <label class="radio-label" for="high speed craft">High Speed Craft</label>
    </li>
    <li class="input-item">
      <input
        class="radio"
        type="radio"
        name="type"
        id="tug"
        value="Tug"
        [(ngModel)]="filters.type"
        (ngModelChange)="pagination.currentPage = 1"
      >
      <label class="radio-label" for="tug">Tug</label>
    </li>
    <li class="input-item">
      <input
        class="radio"
        type="radio"
        name="type"
        id="all" value=""
        [(ngModel)]="filters.type"
        (ngModelChange)="pagination.currentPage = 1"
      >
      <label class="radio-label" for="all">All</label>
    </li>
  </ul>
</div>